*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: "poppins",sans-serif;
    background: #ffffff;
    color: #1e1e27;
}
div{
    display: block;
    position: relative;
    box-sizing: border-box;
}
 ul{
     list-style: none;
     margin-bottom: 0px;
 }
 p {
    font-family: "Poppins", sans-serif;
    font-style: 14px;
    line-height: 1.7;
    font-weight: 500;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  }
  p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 2px #fde0db;
    transition: all 200ms ease;
  }

 .trans_300{
     transition: all 300ms ease;
 }


 .main_nav_container{
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.015);


}
 .navbar{
     float: right;
     width: auto;
     height: 100px;
     padding-left: 0px;
     padding-right: 0px;
 }
 .navbar_menu li{
     display: inline-block;
 }
  .navbar_menu li a{
      display: block;
      color: #1e1e27;
      font-size: 15px;
      padding: 20px;
      transition: color 0.3s ease;
      text-transform: uppercase;
  }
  .navbar_menu li a:hover{
      color: #b5aec4;


  }

  .nav_user{
      margin-left: 37px;


  }
  .nav_user li{
      display: inline-block;
      text-align: center;
  }
  .nav_user li a{

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    transition: color 0.3s ease;
    align-items: center;
  }
  .navbar_user li a:hover {
    color: #b5aec4;
  }
  .checkout{

    color: #b5aec4;
  }
  .checkout a{
      
  background: #eceff6;
  border-radius: 50%;
  }

  .checkout_items {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 16px;
    background: #fe4c50;
    color: #ffffffff;
  }
  
  .logo_container{
    left: 0px;
    top: 70px;

      

  }

  .logo_img{
      height: 60px;
      width: 60px;


  }
.main_slider{
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    margin-top: 10px;
}

.main_slider_content{
    width: 50%;
    width: 60%;
    text-align: end;
    margin-top: 500px;
    
    color: brown;
}

    
.main_slider_content h1{
    font-weight: 500;
    line-height: 1;
    font-size: 57px;
    margin: inherit;

}
.red_button{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 37px;
    background: #fe4c50;
    border-radius: 3px;
    transition: all 0.3s ease;

}
.red_button a {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
  }
  .red_button:hover {
    background: #fe7c7f;
  }
  .shop_now_button{

    width: 100px;
    margin-top: 22px;
    

  }
  .banner {
    width: 100%;
    margin-top: 60px;
  }
  .banner_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .banner_category {
    height: 50px;
    background: #ffffff;
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .banner_category a {
    display: block;
    color: #1e1e27;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
  }
  
  .banner_category a:hover {
    color: #b5aec4;
  }  